.container {
  width: 60%;
  height: 100%;
  margin: auto;
}

.body-container {
  width: 30%;
  margin: auto;
}

.list-container {
  background-color: #f0f0f0;
  height: 7rem;
  border-radius: 10px;
  margin: 1rem 0;
  box-shadow: 1px 1px 4px gray;
}

.day-container {
  width: 90%;
  margin: auto;
}

.header-container {
  width: 43%;
  margin: auto;
}

.itinerary-container {
  width: 41%;
  margin: auto;
}

.row {
  display: flex;
}

.col-half {
  flex-basis: 50%;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.col-two-third {
  flex-basis: calc(100% / 3 * 2);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.column-half {
  flex-basis: 50%;
}

.margin-auto {
  margin: auto;
}

.container-padding {
  padding: 1rem;
}

.plan-button-margin {
  margin: 2rem;
}

.select-icon-margin {
  margin: 1rem 0 0;
}

.trip-list-padding {
  padding: 0 0 0 20px;
}

.header-margin {
  margin: 2rem 0;
}

.title-margin {
  margin: 0.4rem 0;
}

.margin-none {
  margin: 0;
}

.day-margin {
  margin: 15px 0;
}

.position-absolute {
  position: absolute;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }

  .body-container {
    width: 90%;
  }

  .list-container {
    height: 6rem;
  }

  .header-container {
    width: 90%;
  }

  .itinerary-container {
    width: 90%;
  }

  .col-one-third {
    flex-basis: 25%;
  }

  .col-two-third {
    flex-basis: 75%;
  }

  .select-icon-margin {
    margin: 0;
  }

  .header-margin {
    margin: 1rem 0;
  }

  .trip-list-padding {
    padding: 0 0 0 5px;
  }

  .title-margin {
    margin: 0.2rem 0;
  }
}
